# ===============================================
# Variables de Entorno para el Stack de Monitoreo
# ===============================================

# Credenciales para InfluxDB
INFLUX_USER=YOUR_USER
INFLUX_PASSWORD=CHANGE_ME_password
INFLUX_ORG=YOUR_ORGANIZATION
INFLUX_BUCKET=YOUR_BUCKET
INFLUX_TOKEN=YOUR_TOKEN_HERE